/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'compass/reset';

#gradient {
    border: black thin solid;
    width: 500px;
    height: 500px;
    background-image: linear-gradient(#ffffff, #ffffff);
}

.color {
    border: black thin solid;
    width: 50px;
    height: 50px;
    background-color: white;
}
